{% extends "base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>Grade Tools</b> build with django which is help teasher to
             post the grade and caulcaltetd and can view it by stydent
           
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
             <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-primary btn-lg" type="submit">Log Out</button>
              </form>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}